<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Silver Drake
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">First portfolio example</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>GitHub: </strong> <a href = "https://github.com/SilverStormDrake">SilverStormDrake</a>

    <p style="color:red">This text wil be in red</p>
    <p style="color:blue">This text wil be in blue</p>
    <p style="color:rgb(229, 233, 19)">This text wil be in rgb(229, 233, 19)</p>
  </div>
</ion-content>
