<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Silver Drake
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">First portfolio example</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>GitHub: </strong> <a href = "https://github.com/SilverStormDrake">SilverStormDrake</a>

    <p style="color:red">This text wil be in red</p>
    <p style="color:blue">This text wil be in blue</p>
    <p style="color:rgb(229, 233, 19)">This text wil be in rgb(229, 233, 19)</p>

    <ion-text color="danger">I used ion-text in this one</ion-text>
    <ion-badge color="warning">What is a badge?</ion-badge>
    <ion-avatar><img src="https://preview.redd.it/sqef3mom3ok61.png?width=640&crop=smart&auto=webp&s=7b7a5b0f6471f5fc9430acd65ccb1c7bd7a99794"></ion-avatar>
    <ion-icon name="bluetooth-outline"></ion-icon>
  </div>
</ion-content>
